.row {
  margin: 0;
}

.header {
  background-image: url("../img/BG_white paper page.png");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50px 0;
  background-size: cover;
}

.header__logo img {
  max-width: 20%;
}

.header__text {
  color: #fffdfd;
  margin: 96px 0 58px;
  line-height: 1.35;
}

.header__text__top {
  font-size: 47px;
  font-weight: 700;
}

.header__text__btm {
  font-size: 25px;
  font-weight: 400;
  margin-top: 12px;
}

.white {
  margin-bottom: 170px;
}

.white__left {
  margin-top: 138px;
}

.white__left h4 {
  color: #222222;
  font-size: 29px;
  font-weight: 400;
  margin-bottom: 30px;
}

.white__left p {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.white__left__links {
  margin: 22px 0;
}

.white__left__links a {
  display: block;
  font-size: 12px;
  color: #125393;
  font-weight: 600;
}

.white__right {
  padding-left: 7%;
  margin-top: -134px;
}

.white__right .form {
  -webkit-box-shadow: 0 20px 47px 2px rgba(0, 0, 0, 0.04);
  box-shadow: 0 20px 47px 2px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  background-color: #fbfbfb;
  padding: 29px 47px 45px;
}

.white__right .form__header {
  color: #222222;
  font-size: 25px;
  font-weight: 400;
}

.white__right .form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 25px;
}

.white__right .form__input label {
  color: #777777;
  font-size: 12px;
  font-weight: 400;
}

.white__right .form__input input {
  border: 1px solid #ebebeb;
  padding-left: 10px;
}

.white__right .form p {
  opacity: 0.82;
  color: #777;
  font-size: 10px;
  font-weight: 400;
  margin-top: 40px;
}

.white__right .form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  padding-left: 12px;
  padding-top: 5px;
}

.white__right .form__checkbox input {
  width: 20px;
  height: 20px;
  background-color: #ebebeb;
  border: none;
  border-radius: 0;
}

.white__right .form__checkbox label {
  opacity: 0.82;
  color: #777777;
  font-size: 10px;
  font-weight: 400;
  margin-left: 7px;
}

.white__right .form__captcha {
  margin-top: 20px;
}

.white__right .form__captcha img {
  max-width: 180px;
}

.white__right .form button {
  margin-top: 37px;
  height: 46px;
  width: 332px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background-color: #3db1a3;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
}

.subscribe {
  height: 186px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: red;
  background-image: url("../img/Rectangle_567_copy.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe__left {
  padding-left: 68px;
  color: #fefefe;
  margin-top: 28px;
}

.subscribe__left h4 {
  font-size: 24px;
  font-weight: 700;
}

.subscribe__left p {
  font-size: 16px;
  font-weight: 400;
}

.subscribe__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 70px;
}

.subscribe__right button {
  padding: 14px 70px;
  margin-top: 5px;
  background-color: transparent;
  color: #fefefe;
  font-size: 13px;
  text-transform: uppercase;
  border: 1px solid #fefefe;
  border-radius: 5px;
}

.preview {
  margin: 148px 0;
}

.preview__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.preview__card {
  padding: 48px 90px;
  margin-bottom: 22px;
  -webkit-box-shadow: 0 1px 169px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 169px rgba(0, 0, 0, 0.04);
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.preview__card span, .preview__card #title {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
}

.preview__card p, .preview__card #subscription {
  color: #565656;
  font-size: 21px;
  font-weight: 400;
  margin: 7px 0 41px;
  line-height: 26px;
}

.preview__card a, .preview__card link {
  color: #0c0a93;
  font-size: 13px;
  font-weight: 400;
}

.preview__card__blue {
  background-color: #114d8d;
}

.preview__card__blue span, .preview__card__blue p, .preview__card__blue a {
  color: #fff;
}

.preview__card__img {
  background-image: url("../img/shutterstock_742230118_(1)_copy_2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.preview__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 80px;
}

.preview__button button {
  color: #3e80d6;
  font-size: 12px;
  font-weight: 400;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #3e80d6;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer {
  background-color: #0B1332;
  color: #fff;
  padding: 50px 0;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__logo img {
  max-width: 40%;
}

.footer p {
  font-size: 10px;
  line-height: 24px;
}

.footer h4 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer a {
  color: #fff;
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 20px;
}

.footer__form form input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding-left: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  outline: none;
}

.footer__form form button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  padding: 15px 0;
  font-weight: 700;
}

.footer__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-top: 2px solid #2E324C;
  padding-top: 20px;
}

.footer__soc a {
  background-color: #fff;
  width: 20px;
  height: 20px;
  color: #212437;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  margin-left: 10px;
}

#preloader {
  display: none;
}

@media (max-width: 992px) {
  .white__right {
    padding-left: 15px;
    margin-top: 20px;
  }
  .footer__soc {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .header__text__top {
    font-size: 32px;
  }
  .subscribe__left h4 {
    font-size: 20px;
  }
  .subscribe__left p {
    font-size: 12px;
  }
  .preview__card {
    width: 100%;
    min-height: 200px;
  }
  .subscribe__left {
    margin-top: 0;
  }
}

@media (max-width: 480px) {
  .header__text__top {
    font-size: 24px;
  }
  .header__text__btm {
    font-size: 12px;
  }
  .header__text {
    margin: 40px 0 0px;
  }
  .white__left {
    margin-top: 40px;
  }
  .white__right .form__header {
    font-size: 18px;
  }
  .preview__card {
    padding: 30px 20px;
  }
  .white__right .form {
    padding: 29px 20px 45px;
  }
  .white {
    margin-bottom: 40px;
  }
  .preview {
    margin: 60px 0;
  }
  .preview__button {
    margin-top: 40px;
  }
}
