.row {
  margin: 0;
}
.header {
  background-image: url('../img/BG_white paper page.png');
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50px 0;
  background-size: cover;
  
  &__logo {

    & img {
      max-width: 20%;
    }
  }

  &__text {
    color: #fffdfd;
    margin: 96px 0 58px;
    line-height: 1.35;
    
    &__top {
      font-size: 47px;
      font-weight: 700;
    }

    &__btm {
      font-size: 25px;
      font-weight: 400;
      margin-top: 12px;
    }
  }
}

.white {
  margin-bottom: 170px;
  
  &__left {
    margin-top: 138px;
    
    & h4 {
      color: #222222;
      font-size: 29px;
      font-weight: 400;
      margin-bottom: 30px;
    }

    & p {
      color: #777777;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }

    &__links {
      margin: 22px 0;
      
      & a {
        display: block;
        font-size: 12px;
        color: #125393;
        font-weight: 600;
      }
    }
  }

  &__right {
    padding-left: 7%;
    margin-top: -134px;
    
    .form {
      box-shadow: 0 20px 47px 2px rgba(0, 0, 0, 0.04);
      border-radius: 5px;
      background-color: #fbfbfb;
      padding: 29px 47px 45px;
      
      &__header {
        color: #222222;
        font-size: 25px;
        font-weight: 400;
      }

      &__input {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        
        & label {
          color: #777777;
          font-size: 12px;
          font-weight: 400;
        }

        & input {
          border: 1px solid #ebebeb;
          padding-left: 10px;
        }
      }

      & p {
        opacity: 0.82;
        color: #777;
        font-size: 10px;
        font-weight: 400;
        margin-top: 40px;
      }

      &__checkbox {
        display: flex;
        align-items: end;
        padding-left: 12px;
        padding-top: 5px;
        
        & input {
          width: 20px;
          height: 20px;
          background-color: #ebebeb;
          border: none;
          border-radius: 0;
        }

        & label {
          opacity: 0.82;
          color: #777777;
          font-size: 10px;
          font-weight: 400;
          margin-left: 7px;
        }
      }

      &__captcha {
        margin-top: 20px;
        
        & img {
          max-width: 180px;
        }
      }

      & button {
        margin-top: 37px;
        height: 46px;
        width: 332px;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 4px;
        background-color: #3db1a3;
        color: #ffffff;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}

.subscribe {
  height: 186px;
  display: flex;
  align-items: center;
  background-color: red;
  background-image: url('../img/Rectangle_567_copy.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  &__left {
    padding-left: 68px;
    color: #fefefe;
    margin-top: 28px;
    
    & h4 {
      font-size: 24px;
      font-weight: 700;
    }

    & p {
      font-size: 16px;
      font-weight: 400;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    padding-left: 70px;
    
    & button {
      padding: 14px 70px;
      margin-top: 5px;
      background-color: transparent;
      color: #fefefe;
      font-size: 13px;
      text-transform: uppercase;
      border: 1px solid #fefefe;
      border-radius: 5px;
    }
  }
}

.preview {
  margin: 148px 0;
  
  &__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  &__card {
    padding: 48px 90px;
    margin-bottom: 22px;
    box-shadow: 0 1px 169px rgba(0, 0, 0, 0.04);
    width: 49%;
    display: flex;
    flex-direction: column;
    
    & span, #title {
      color: #000000;
      font-size: 12px;
      font-weight: 400;
    }

    & p, #subscription {
      color: #565656;
      font-size: 21px;
      font-weight: 400;
      margin: 7px 0 41px;
      line-height: 26px;
    }

    & a, link {
      color: #0c0a93;
      font-size: 13px;
      font-weight: 400;
    }

    &__blue {
      background-color: #114d8d;
      & span, p, a {
        color: #fff;
      }
    }

    &__img {
      background-image: url('../img/shutterstock_742230118_(1)_copy_2.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    
    & button {
      color: #3e80d6;
      font-size: 12px;
      font-weight: 400;
      width: 200px;
      height: 50px;
      border-radius: 4px;
      border: 1px solid #3e80d6;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.footer {
  background-color: #0B1332;
  color: #fff;
  padding: 50px 0;

  &__logo {
    margin-bottom: 20px;

    & img {
      max-width: 40%;
    }
  }

  & p {
    font-size: 10px;
    line-height: 24px;
  }

  & h4 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  & a {
    color: #fff;
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
  }

  &__form {
    display: flex;
    flex-direction: column;

    & form {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      & input {
        border: none;
        background-color: transparent;
        border-bottom: 1px solid #fff;
        color: #fff;
        padding-left: 15px;
        margin-bottom: 15px;
        font-size: 14px;
        outline: none;
      }

      & button {
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 4px;
        color: #fff;
        font-size: 12px;
        padding: 15px 0;
        font-weight: 700;
      }
    }
  }

  &__soc {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border-top: 2px solid #2E324C;
    padding-top: 20px;

    & a {
      background-color: #fff;
      width: 20px;
      height: 20px;
      color: #212437;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: bold;
      border-radius: 4px;
      margin-left: 10px;
    }
  }
}

#preloader {
  display: none;
}