@media (max-width: 992px) {
	.white__right {
    padding-left: 15px;
    margin-top: 20px;
	}
	.footer__soc {
	margin-top: 20px;
	}
}
@media (max-width: 768px) {
	.header__text__top {
    font-size: 32px;
	}
	.subscribe__left h4 {
    font-size: 20px;
	}
	.subscribe__left p {
    font-size: 12px;
	}
	.preview__card {
		width: 100%;
		min-height: 200px;
	}
	.subscribe__left {
    margin-top: 0;
	}
}
@media (max-width: 480px) {
	.header__text__top {
    font-size: 24px;
	}
	.header__text__btm {
    font-size: 12px;
	}
	.header__text {
    margin: 40px 0 0px;
	}
	.white__left {
    margin-top: 40px;
	}
	.white__right .form__header {
    font-size: 18px;
	}
	.preview__card {
    padding: 30px 20px;
	}
	.white__right .form {
    padding: 29px 20px 45px;
	}
	.white {
    margin-bottom: 40px;
	}
	.preview {
    margin: 60px 0;
	}
	.preview__button {
    margin-top: 40px;
	}
}